{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "dot-location": [2, "object"],
    "max-len": 0,
    "object-curly-spacing": [2, "never"]
  }
}
